<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="ServerKey" value="78680f57605d47d79886353ea01b4334"/>
    <add key="ServerSecret" value="0bd8e2d496624fc58048e824e1856ec6"/>
    <add key="ServerUrl" value="http://a.oodso.com/router/rest"/>
    <add key="AdminUser" value="消费搜"/>
    <add key="AdminSecret" value="888999"/>
  </appSettings>
</configuration>