<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="ServerUrl" value="http://a.summerbreeze.cn/router/rest"/>
    <add key="ServerKey" value="6ab802af00f44e12b665e3ab557f2a97"/>
    <add key="ServerSecret" value="9605fd9f85bc401ca1002fe0aadc687c"/>
    <add key="AdminUser" value="宁波雨辰官方旗舰店"/>
    <add key="AdminSecret" value="888999"/>
  </appSettings>
</configuration>