<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="ServerUrl" value="http://a.oodso.com/router/rest"/>
    <add key="ServerKey" value="1349eff2344f11a8fe9b8afa8799f6b6"/>
    <add key="ServerSecret" value="4349e762344531a8be29b8af328799f6"/>
    <add key="AdminUser" value="宁波雨辰官方旗舰店"/>
    <add key="AdminSecret" value="888999"/>
  </appSettings>
</configuration>